<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="app.js"></script>
<script src="controllers/main/mainController.js"></script>
<script src="controllers/home/homeController.js"></script>
<div ng-app="todoApp">
    <p>welcome to main Page</p>
</div>

<div ui-view>

</div>